<nav>
  <a href='#about'>About</a>
  <a href='#design'>Design</a>
  <a href='#'>Contact</a>
</nav>

<section id='about'>
  <header>Hello, it's nice to meet you...</header>
    <p>This will be the start of a good relationship!</p>
</section>

<section id='design'>
  <header>Good design starts with good intention</header>
</section>
